{% extends "base.html" %}
{% block content %}
{% load static %}
<header>
    <h1>About Riverside Pet Store</h1>
</header>
<article class="about-article-container">
    <section class="about-primary-article">
        <img src="{% static 'img/about-page-dog-image.jpg' %}" alt="small white dog with brown head" class="about-primary-article-image"/>
        <div>
            <h2>Primary story title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iusto aperiam temporibus
                fugit quibusdam dolorem alias exercitationem culpa! Rerum cumque hic necessitatibus quaerat 
                totam fuga commodi neque cum unde velit!
            </p>
        </div>
    </section>

    <section class="about-secondary-article">
         <img src="{% static 'img/group-of-dogs.jpeg' %}" alt="group of dogs sitting next to each other in the fields" class="about-primary-article-image"/>
        <div>
            <h2>Second story title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iusto aperiam temporibus
                fugit quibusdam dolorem alias exercitationem culpa! Rerum cumque hic necessitatibus quaerat 
                totam fuga commodi neque cum unde velit!
            </p>
        </div>
    </section>

    <section class="about-secondary-article">
         <img src="{% static 'img/german-shepherd-looking-onwards.jpeg' %}" alt="German Shepherd sitting and looking onwards" class="about-primary-article-image"/>
        <div>
            <h2>Third story title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iusto aperiam temporibus
                fugit quibusdam dolorem alias exercitationem culpa! Rerum cumque hic necessitatibus quaerat 
                totam fuga commodi neque cum unde velit!
            </p>
        </div>
    </section>

    <section class="about-secondary-article">
         <img src="{% static 'img/group-of-dogs.jpeg' %}" alt="group of dogs sitting next to each other in the fields" class="about-primary-article-image"/>
        <div>
            <h2>Fourth story title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iusto aperiam temporibus
                fugit quibusdam dolorem alias exercitationem culpa! Rerum cumque hic necessitatibus quaerat 
                totam fuga commodi neque cum unde velit!
            </p>
        </div>
</article>

{% endblock content %}