<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f16e47194e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{{ template_data.page_title }}</title>
</head>
<body>
    <div class="base-container">
        <header class="base-header">Header section</header>
        <main class="content-area">
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="base-footer">The footer area</footer>
    </div>
</body>
</html>