:root {
    /* Colour palette */
    --black: #000000;
    --dark-gray: #333333;
    --medium-gray: #777777;
    --gray-light: #f5f5f5;
    --off-white: #fefefe;
    --white: #ffffff;
    --blue: #007bff;
    --light-blue: #33bbe5;
    --red: #dc3545;
    --green: #28a745;
    --yellow: #ffc107;
    --orange: #fd7e14;    

    --primary-color: #04080F;
    --secondary-color: #507DBC;
    --light-color: #A1C6EA;
    --lighter-color: #BBD1EA;
    --inverse-color: #DAE3E5;
    --font-family: 'Poppins', Arial, Helvetica, sans-serif;
    --font-size-base: 16px;
    --font-size-xl: 1.75rem;
    --font-size-lg: 1.25rem;
    --font-size-sm: 0.875rem;
    --spacing-base: 1rem;
}


/*********************************************************
 * 01 Base styles
 *******************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: 400;
    color: var(--dark-gray);
    background-color: var(--off-white);
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:link {
    color: var(--secondary-color);
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color:var(--light-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--blue);
    text-decoration: none;
}

ul,
li {
    padding: 0;
    list-style-type: none;
}


/*********************************************************
 * 02 Base layout styles
 *******************************************************/

.base-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 960px;
    margin: 0 auto;
}


/*********************************************************
 * 03 Navigation section styles
 *******************************************************/

.base-nav {
    background-color: var(--gray-light);
    border-top: calc(var(--spacing-base) * .85) solid var(--secondary-color);
    padding: calc(var(--spacing-base) * .65) calc(var(--spacing-base) * .85) 0;
}

ul.base-nav__list {
    font-weight: 500;
    text-transform: capitalize;
}

.base-nav__logo {
    padding: 7.5px 10px 7.5px 0;
}

.base-nav__item {
    padding: 10px;
}

.base-nav__logo a,
.base-nav__item a {
    font-style: normal;
    color: var(--primary-color);
    text-decoration: none;   
}

.base-nav__logo a span {
    color: var(--secondary-color);
    font-weight: 700;
}

.base-nav__item a {
    font-size: var(--font-size-sm);
}

.base-nav__item.base-nav__btn {
    padding: 9px 5px;
}

.base-nav__item:not(.base-nav__btn) a:hover,
.base-nav__item a:hover::after {
    color: var(--secondary-color);
}

.base-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.base-nav__list li a {
    display: block;
    padding: calc(var(--spacing-base) * .94) calc(var(--spacing-base) * .35);
}

.base-nav__item.base-nav__btn a {
    color: var(--secondary-color);
    border-radius: 4px;
    font-size: var(--font-size-sm);
    font-style: normal;
    font-weight: 600;
}

.base-nav__toggle {
    order: 1;
    font-size: calc(var(--font-size-base) * 1.25);
    cursor: pointer;
}

.base-nav__item.base-nav__btn {
    order: 2;
}

.base-nav__toggle i {
    color: var(--primary-color);
}

.base-nav__item {
    order: 3;
    width: 100%;
    display: none;
    text-align: center;
}

.active .base-nav__item {
    display: block;
}

.base-nav__btn.base-nav__btn2 {
    border-bottom: 2px solid var(--light-color);
}

/* Tablet menu */

@media (min-width: 43.75rem) {
    .base-nav__list {
        justify-content: center;
    }

    .base-nav__logo {
        flex: 1;
    }

    .base-nav__item.base-nav__btn {
        width: auto;
        order: 1;
        display: block;
    }

    .base-nav__toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

    .base-nav__list li.base-nav__btn a {
        padding: 10px 15px;
        margin: 5px 0;
    }

    .base-nav__btn a {
        background-color: var(--light-color);
        border: 1px solid var(--secondary-color);
    }

    .base-nav__btn.base-nav__btn2 {
        border: 0;
    }

    .base-nav__btn.base-nav__btn2 a {
        background: transparent;
        border: 1px solid var(--secondary-color);
    }

    .base-nav__btn a:hover {
        text-decoration: none;
    }

    .base-nav__btn:not(.base-nav__btn2) a:hover {
        background-color: var(--secondary-color);
        color: var(--off-white);
    }
}

/* Desktop menu */

@media (min-width: 60rem) {
    .base-nav__list {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .base-nav__logo {
        order: 0;
    }

    .base-nav__item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .base-nav__btn {
        order: 2;
    }

    .base-nav__toggle {
        display: none;
    }
}


/*********************************************************
 * 04 Footer styles
 *******************************************************/

.base-footer {
    background-color: var(--primary-color);
    color: var(--off-white);
    padding: calc(var(--spacing-base) * 1.5) calc(var(--spacing-base) * .85);
    text-align: center;
    font-size: var(--font-size-sm);
}