@font-face {
  font-family: "Inter var experimental";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2") format("woff2"), url("Inter-Regular.woff") format("woff");
}

html {
  box-sizing: border-box;
  /* Nicer looking fonts for OS X and iOS */
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* We will be adding our own margin to these elements as needed. */
  margin: 0;
  /* You'll want to set font-size as needed. */
  font-size: 1rem;
  /* No bold for h tags unless you want it */
  font-weight: 400;
}

svg {
  display: block;
}

img {
  /*Make images behave responsively. Here they will scale up to 100% of their natural size*/
  max-width: 100%;
  /*Make images display as a block (UA default is usually inline)*/
  display: block;
}

/*Set a default non-variable font but then enhance if the browser supports a variable font*/
body {
  font-family: Inter, sans-serif;
  border-top: 5px solid #b50404;
  border-bottom: 5px solid #b50404;
  background-image: url("triangle_bg.png");
}

@supports (font-variation-settings: "wdth" 115) {
  body {
    font-family: "Inter var experimental";
  }
}

.master-head {
  display: flex;
  flex-direction: column;
}

