:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(19, 17, 17, 0.87);
  background-color: #fbf9f912;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

.main-article {
  padding: .5rem 1rem;
  opacity: 0.5;
  background-color: lightblue;
  transform: translateX(-100px) scale(1.2) rotate(1deg);
}

.moving-arrow {
  width: 200px;
  height: 200px;
  background: red;
  border: 3px solid brown;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25%  0%);
  transition: clip-path 0.2s;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.moving-arrow:hover {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

svg:hover path {
  d: path("M 10 0  L 10 0 L 13 7 L 20 10   L 20 10   L 13 13   L 10 20   L 10 20   L 7 13   L 0 10   L 0 10   L 7 7   L 10 0 ");
}
path {
transition: 0.2s;
}

.footnote {
  font-style: italic;
  color: lightgrey;
  font-size: small;
}

li:target#footnote-bottom-1 {
  display:inline;
  background: rgba(220, 220, 18, 0.294);
  border-radius: .5rem;
  padding: .5rem .75rem;
  margin: 1rem;
}

.footnotes :target {
  animation: shout 2s;
}

@keyframes shout {
  from { background: lightpink; }
  to { background: lightsalmon; }
}
