@font-face {
  font-family: "Inter var experimental";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2") format("woff2"), url("Inter-Regular.woff") format("woff");
}

html {
  box-sizing: border-box;
  /* Nicer looking fonts for OS X and iOS */
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* We will be adding our own margin to these elements as needed. */
  margin: 0;
  /* You'll want to set font-size as needed. */
  font-size: 1rem;
  /* No bold for h tags unless you want it */
  font-weight: 400;
}

svg {
  display: block;
}

img {
  /*Make images behave responsively. Here they will scale up to 100% of their natural size*/
  max-width: 100%;
  /*Make images display as a block (UA default is usually inline)*/
  display: block;
}

blockquote {
  font-size: 20px;
  margin: 0;
}

/*Set a default non-variable font but then enhance if the browser supports a variable font*/
body {
  font-family: Inter, sans-serif;
  border-top: 5px solid #b50404;
  border-bottom: 5px solid #b50404;
  background-image: url("triangle_bg.png");
}

@supports (font-variation-settings: "wdth" 115) {
  body {
    font-family: "Inter var experimental";
  }
}

/* header section */

.master-head {
  display: flex;
  flex-direction: column;
}

.logo {
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo__title {
  font-family: "Oswald", sans-serif;
  font-size: 46px;
}

.logo__subtitle {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navlink {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: relative;
  margin: 10px 0 0 0;  
}

.navlink__item {
  margin: 0 10px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #4a4a4a;
  /*We want these buttons to have a decent touch area so they are easy to click/tap*/
  display: inline-flex;
  min-height: 45px;
  align-items: center;
  /*Styles needed for the button only*/
  border: 0;
  background: none;
}

.navlink__download-panel {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.navlink__download-panel[aria-hidden="false"] {
  opacity: 1;
  pointer-events: inherit;
}


/* hero section */

.hero__book-cover {
  width: 150px;
  box-shadow: 0 8px 20px -5px #000;
  margin: 20px auto;
}

.hero__inner-wrapper {
  clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 94%);
  background-color: #262c28;
  padding: 80px 20px 20px;
  margin-top: 30px;
  position: relative;
}

.hero__inner-wrapper__title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #ebebeb;
}

.hero__inner-wrapper__title__word {
  position: relative;
  display: inline-block;
  line-height: 2;  
}

.hero__inner-wrapper__title__word i {
  position: absolute;
  left: 0;
  bottom: calc(50% + 12px);
  color: #86988c;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
}

.hero__description {
  font-size: 12px;
  color: #dddddd;
  line-height: 1.8;
  margin-top: 20px;
  padding-top: 25px;
  border-top: 1px solid #424242;
}

.hero__inner-wrapper__edition {
  position: absolute;
  text-transform: uppercase;
  font-size: 13px;
  top: 40px;
  right: 20px;
}

.hero__whats-new {
  display: flex;
  align-items: center;
  min-height: 45px;
  padding: 0 15px;
  border-radius: 33px;
  border: 1px solid #089df4;
  font-size: 13px;
  color: #fff;
  justify-content: center;
  max-width: 300px;
  margin: 40px auto;
}


/* about section */

.about {
  padding: 20px;
}

.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0 0;
}

.about__card__title,
.about__card-info__title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
}

.about__card p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}

.about__card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0 0;
}

.about__card-info p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}

.about__card-info a {
  color: #b50404;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}


/* "fixed" buttons  */

.buy-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.buy-book__link__item {
  border-radius: 25px;
    padding: 5px 20px;
    background-color: #089df4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin: 10px;
}


/* reviews section  */

.reviews {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  background-color: #222;
  clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0 100%);
}

.reviews__title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.review__quote {
  color: #fff;
  font-family: "Noto Serif", serif;
  padding: 10px 20px;
}


/* product section  */

.product {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product__title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.product__info {
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}

.product__bullet {
  font-size: 14px;
  line-height: 22px;
}


/* mailing list section  */

.mailing-list {
  padding: 20px;
  background-color: #262c28;
}

.mailing-list__title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.mailing-list__label {
  font-size: 12px;
  color: #fff;
}

.mailing-list__form {
  display: flex;
  align-items: center;
  border: 2px solid #b50404;
  border-radius: 33px;
  height: 45px;
  background-color: #fff;
  padding: 0 20px;
  margin: 10px 0;
}

.mailing-list__form__input {
  border: 0;
  display: flex;
  height: 100%;
  flex: 1 0 auto;
}


/* book chapters section  */
